
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/*Landing Page*/

#port-jumbo{
	border: 3px solid orange; /*#007bff*/
	border-radius: 40px;
	height: 480px;
	width: 900px;
	/*height: 600px;
	width: 900px;*/
	padding: 8em 4em;
	/*opacity: 0.9;*/
	margin-top: 100px;
	/*margin-top: 180px;*/
}

#landingprofpic {
	height: 250px;
	width: 	250px;
	margin-top: -120px;
	border-radius: 50px;
	/*height: 350px;
	width: 	350px;
	margin-top: -120px;
	border-radius: 50px;*/
}

#jumbo-landing, #jumbo-welcome, #welcomepage, #jumbo-projects, #jumbo-about, #about, #social, #jumbo-social {
	height: 100vh;
	/*background-image: url(../images/welcomebackgroundimage.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: cover;*/
}

.hero-bkg-animated {
  background: gray url(../images/crissxcross.png) repeat 0 0;
  /*background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;*/
  width: 100%;
 /* width: 100%;*/
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 9s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

#myname, p, h1 {
	margin-top: 30px;
	color: orange;
}

.btn {
	opacity: 0.7;
}

.btn > a{
	text-decoration: none;
	color: black;
	letter-spacing: 3px;
}

.btn > a:hover {
	color: white;
	text-decoration: none;
}

/*Welcome Page*/

#footertext {
	color: 	black;
}

#btnabout, #btnprojects, #btnsocial {
	width: 	200px;
	height: 200px;
	/*width: 	250px;
	height: 250px;*/
	border-radius: 20px;
	opacity: 0.7;
	border: 3px solid orange;
	letter-spacing: 10px;
	transition: all 0.5s;
 	cursor: pointer;

}

#btnabout {
	margin-top: -40px;
}

#socialback {
	margin-bottom: 40px;
	width: 550px;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

#btnabout, #btnprojects, #btnsocial:hover {
	background-color: green;	
}

#skillicon {
	height: 150px;
	width: 150px;
	position: left;	
	margin-left: 50px;
	margin-top: 10px;
	margin-bottom: 30px;
/*	margin-right: 10px;*/
	/*height: 210px;
	width: 210px;
	position: left;	
	margin-left: 110px;
	margin-bottom: 50px;
	margin-right: 10px;*/
}

/*About Page*/

#info {
	text-align: justify;
	margin-top: 200px;
}

#backabout {
	margin-top: 180px;
	width: 550px;
	/*margin-top: 350px;
	width: 550px;*/
}


/*Projects Page*/

#back {
	margin-top: 80px;
	width: 550px;
	margin-bottom: 40px;
}

#port {
	margin-top: 20px;
	/*width: 350px;*/
	height: 380px;
}

#capsimage {
	height: 200px;
	margin-top: 20px;
	/*height: 350px;
	margin-top: 20px;*/
}

.card-body {
	height: 90px;
}

#aboutme {
	height: 120px;
	width: 100%;
	/*height: 180px;
	width: 100%;*/
	margin-top: -470px;
}


/*Social Page*/

/*#socialicons {
	height: 140px;
	width: 280px;
	margin-bottom: 20px;
	margin-top: 40px;
}*/

#socialicons {
	height: 100px;
	width: 240px;
	margin-bottom: 20px;
	margin-top: 40px;
}

#pageheader {
	margin-top: -30px;

}