
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

/*Landing Page*/

#port-jumbo{
	border: 3px solid orange; /*#007bff*/
	border-radius: 40px;
	height: 600px;
	width: 900px;
	padding: 8em 4em;
	/*opacity: 0.9;*/
	margin-top: 180px;
}

#landingprofpic {
	height: 350px;
	width: 	350px;
	margin-top: -120px;
	border-radius: 50px;
}

#jumbo-landing, #jumbo-welcome, #welcomepage, #jumbo-projects, #jumbo-about, #about, #social, #jumbo-social {
	height: 100vh;
	/*background-image: url(../images/welcomebackgroundimage.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-image: cover;*/
}

.hero-bkg-animated {
  background: gray url(../images/crissxcross.png) repeat 0 0;
  /*background: gray url(https://subtlepatterns.com/patterns/geometry2.png) repeat 0 0;*/
  width: 100%;
  margin: 0;
  text-align: center;
  height: 300px;
  padding-top: 120px;
  box-sizing: border-box;
  -webkit-animation: slide 9s linear infinite;
}

.hero-bkg-animated h1 {
  font-family: sans-serif;
}

@-webkit-keyframes slide {
    from { background-position: 0 0; }
    to { background-position: -400px 0; }
}

#myname, p, h1 {
	margin-top: 30px;
	color: orange;
}

.btn {
	opacity: 0.7;
}

.btn > a{
	text-decoration: none;
	color: black;
	letter-spacing: 3px;
}

.btn > a:hover {
	color: white;
	text-decoration: none;
}

/*Welcome Page*/

#footertext {
	color: 	black;
}

#btnabout, #btnprojects, #btnsocial {
	width: 	250px;
	height: 250px;
	border-radius: 20px;
	opacity: 0.7;
	border: 3px solid orange;
	letter-spacing: 10px;
	transition: all 0.5s;
 	cursor: pointer;
}

.btn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.btn:hover span {
  padding-right: 25px;
}

.btn:hover span:after {
  opacity: 1;
  right: 0;
}

#btnabout, #btnprojects, #btnsocial:hover {
	background-color: green;	
}

/*Projects Page*/

#back {
	margin-top: 80px;
	width: 550px;
}

/*#port {
	width: 350px;
	height: 350px;
}*/

#capsimage {
	height: 450px;
}

#aboutme {
	height: 180px;
	width: 2200px;
	margin-top: -530px;
}


/*Social Page*/

#socialicons {
	height: 140px;
	width: 280px;
	margin-bottom: 20px;
	margin-top: 40px;
}